<div id="outer" ng-controller="controller.student.ExecuteQuestion">
    <div class="row" ng-show='result.status'>
        <div class='alert col-md-12' ng-class='currentQuestion.right === true ? "alert-success" : "alert-danger"'>
            <strong>{{currentQuestion.right === true ? "Corretta" : "Errata"}}</strong>
            <span ng-bind-html="currentQuestion.explanation"></span>
        </div>
    </div>
    <div ng-bind-html="preview"></div>
    <div ng-switch on="currentQuestion.type">
        <div ng-switch-when="TF">
            <div class='form-group'>
                <fieldset ng-disabled="!edit">
                    <div ng-repeat="ans in currentQuestion.answers">
                        <label>
                            <input type='radio' name='Question' ng-model='ris.value' value='{{ans.value}}'><span
                                ng-bind-html="ans.str"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-switch-when="MC">
            <div class='form-group'>
                <fieldset ng-disabled="!edit">
                    <div ng-repeat="ans in currentQuestion.answers">
                        <label>
                            <input type='radio' name='Question' ng-model='ris.value' value='{{ans.value}}'><span
                                ng-bind-html="ans.str"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-switch-when="MA">
            <div class='form-group'>
                <fieldset ng-disabled="!edit">
                    <div ng-repeat="ans in currentQuestion.answers track by $index">
                        <label>
                            <input type='checkbox' name='Question' ng-model='ris.value[$index]'
                                   ng-true-value="{{ans.value}}" ng-false-value="false"><span
                                ng-bind-html="ans.str"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</div>

