<div ng-controller="controller.student.ExecuteQuestionnaire">
    <div class="container">
        <h2>Esegui questionario</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{questionnaire.title}}</h3>
            </div>
            <div class="panel-body">
                <h3>Domanda {{questionnaire.currentNumber + 1}} di {{questionnaire.questionNumber}}</h3>
                <div ng-include="'html/student/ExecuteQuestion.html'"></div>

                <div class="row">
                    <div class="text-center">
                            <button type="button" class="btn btn-default" ng-click="getPrevious()">Precedente</button>
                            <button type="button" class="btn btn-primary" ng-click="getNext()">Successiva</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

