<div id="outer" ng-controller="controller.student.ExecuteQuestion">
    <div class="row" ng-show='result.status'>
        <div class='alert col-md-12' ng-class='currentQuestion.right === true ? "alert-success" : "alert-danger"'>
            <strong>{{currentQuestion.right === true ? "Corretta" : "Errata"}}</strong>
            <span ng-bind-html="currentQuestion.explanation"></span>
        </div>
    </div>
    <div class="row" ng-show='result.status'>
        <div class='col-md-12'>
            <ul>
                <li ng-repeat="st in currentQuestion.stat" style=""><span ng-bind-html="st"></span></li>
            </ul>
        </div>
        <hr/>
    </div>
    <div ng-switch on="currentQuestion.type">
        <div ng-switch-when="TF">
            <div ng-bind-html="preview"></div>
            <div class='form-group'>
                <fieldset ng-disabled="!edit">
                    <div ng-repeat="ans in currentQuestion.answers">
                        <label>
                            <input type='radio' name='Question' ng-model='ris.value' value='{{ans.value}}'><span
                                ng-bind-html="ans.str"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-switch-when="MC">
            <div ng-bind-html="preview"></div>
            <div class='form-group'>
                <fieldset ng-disabled="!edit">
                    <div ng-repeat="ans in currentQuestion.answers">
                        <label>
                            <input type='radio' name='Question' ng-model='ris.value' value='{{ans.value}}'><span
                                ng-bind-html="ans.str"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-switch-when="MA">
            <div ng-bind-html="preview"></div>
            <div class='form-group'>
                <fieldset ng-disabled="!edit">
                    <div ng-repeat="ans in currentQuestion.answers track by $index">
                        <label>
                            <input style="display:inline" type='checkbox' name='Question' ng-model='ris.value[$index]'
                                   ng-true-value="{{ans.value}}" ng-false-value="false"><span
                                   ng-bind-html="ans.str"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-switch-when="CT">
            <span ng-bind-html="preview[0]"></span>
            <div ng-repeat="ans in currentQuestion.answers track by $index" style="display: inline">
                <select ng-model="ris.value[$index]" ng-change="changeAnswer()"
                        ng-class="ris.value[$index] != currentQuestion.answer[$index] && !edit ? 'wrong' : ''" ng-disabled="!edit">
                    <option value=""></option>
                    <option ng-repeat="a in ans" value="{{a.value}}">{{a.str}}</option>
                </select>
                <span ng-bind-html="preview[$index + 1]"></span>
            </div>
        </div>
        <div ng-switch-when="OI">
            <div ng-bind-html="preview"></div>
            <ul class="sortable">
                <li class="ui-state-default" ng-repeat="ans in currentQuestion.selectedAnswer track by $index" id="{{ans}}">{{ans}}</li>
            </ul>
        </div>
        <div ng-switch-when="CI">
            <div ng-bind-html="preview"></div>
            <div class="row">
                <ul class="sortable col-xs-6">
                    <li class="ui-state-default" ng-repeat="ans in currentQuestion.selectedAnswer.left track by $index" id="{{ans}}">{{ans}}</li>
                </ul>
                <ul class="sortable col-xs-6">
                    <li class="ui-state-default" ng-repeat="ans in currentQuestion.selectedAnswer.right track by $index" id="{{ans}}">{{ans}}</li>
                </ul>
            </div>
        </div>
        <div ng-switch-when="NT">
            <div ng-bind-html="preview"></div>
            <div class='form-group'>
                <input type='text' name='Question' ng-model='ris.value' value='{{ans.value}}'>
            </div>
        </div>
    </div>
</div>

