<div ng-controller='controller.student.Questionnaires'>
    <div class='row'>
        <div class='col-md-12'>

            <h2>Ricerca Questionario</h2>
            <form class='form-horizontal' ng-submit='submit()'>
                <div class='form-group'>
                    <label for='search' class='col-md-2 control-label'>Cerca questionario</label>
                    <div class='col-md-10'>
                        <input ng-model='searchText' type='text' class='form-control' id='search' placeholder='Cerca questionario'>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-md-3 col-md-offset-9'>
                        <button type='submit' class='btn btn-raised btn-primary'>Submit</button>
                    </div>
                </div>
            </form>

            <table class='table table-striped table-hover'>
                <thead>
                <tr>
                    <th><a href='' ng-click='myOrderBy = "userName"'>Titolo</a></th>
                    <th><a href='' ng-click='myOrderBy = "fullName"'>Autore</a></th>
                    <th>Argomenti</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='quest in usersList | orderBy : myOrderBy | filter : {id: "!" + me.id, role: {href: myFilter}}'>
                    <td style='vertical-align:middle'>{{ques.userName}}</td>
                    <td style='vertical-align:middle'>{{user.fullName}}</td>
                    <td style='vertical-align:middle'>
                        <div class='form-group' style='margin: 0; padding: 0;'>
                            <select class='form-control' ng-model='user.role.href' ng-change='changeUserRole(user)'>
                                <option ng-repeat='role in roles | filter : {name: "!superadmin"}' value='{{role.id}}'>{{role.viewName}}</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <a href='' ng-click='deleteUser(user)' class='btn'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a>
                    </td>
                </tr>
                </tbody>
            </table>

                <
                <div ng-repeat="(key, value) in questionnaires"> Titolo:{{value.title}}  Autore:{{value.author}}</div>
        </div>
    </div>
</div>



