
<div class='container' ng-controller='controller.student.User'>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <h2>Modifica Profilo</h2>
            <div class='well'>
                <form class='form-horizontal' ng-submit='submit()'>
                    <div class='form-group'>
                        <label for='inputUsername' class='col-md-2 control-label'>Username</label>
                        <div class='col-md-10'>
                            <input ng-model='userName' type='text' class='form-control' id='inputUsername' placeholder='wsandon' required>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='inputFullname' class='col-md-2 control-label'>Fullname</label>
                        <div class='col-md-10'>
                            <input ng-model='fullName' type='text' class='form-control' id='inputFullname' placeholder='Walter Sandon' required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                            <button type="button" class="btn btn-raised btn-default">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <h2>Modifica Password</h2>
            <div class='well'>
                <form class='form-horizontal' ng-submit='submit()'>
                    <div class='form-group'>
                        <label for='inputOldPassword' class='col-md-2 control-label'>Old Password </label>
                        <div class='col-md-10'>
                            <input ng-model='oldPassword' type='password' class='form-control' id='inputOldPassword' placeholder='Inserisci la pasword attuale' required>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='inputNewPassword' class='col-md-2 control-label'>New Password</label>
                        <div class='col-md-10'>
                            <input ng-model='newPwd' type='password' class='form-control' id='inputNewPassword'
                                   placeholder='Inserire la nuova password' required>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='inputRepeatPassword' class='col-md-2 control-label'>Repeat Password</label>
                        <div class='col-md-10'>
                            <input ng-model='repeatPwd' type='password' class='form-control' id='inputRepeatPassword'
                                   placeholder='Ripetere la nuova password' required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                            <button type="button" class="btn btn-raised btn-default">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



