*.aux
*.glo
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.gz
*.toc
*.gls
*.glg
*.working
*.working2
*.vux
*.vpp~*
*.DS_Store
*.texpadtmp
*.blg
**/.idea/
src/static/nbproject/
src/static/prova.html
.gitignore
node_modules/
src/.idea/*

doc/src/definizioneDiProdotto.synctex.gz(busy)

src/starware.swe15.iml
/src/nbproject
/coverage
