
<div ng-controller='controller.teacher.ManageQuestionnaires'>
    <div class='row'>
        <div class='col-md-12'>
            <h2>Gestione questionari</h2> 
        </div>
    </div>
    <div class='row'>
        <div class='col-md-1 col-md-offset-10'>
            <a href='#/teacher/questionnaires/new/' class="btn btn-raised btn-primary btn-fab"><i class="material-icons glyphicon glyphicon-plus" aria-hidden='true'></i></a>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <table class='table table-striped table-hover'>
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Argomenti</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='questionnaire in questionnaires' ng-click='modifyQuestionnaire(questionnaire)'>
                        <td style='vertical-align:middle'>{{questionnaire.title}}</td>
                        <td style='vertical-align:middle'>
                            <span ng-repeat='tag in questionnaire.tags'>{{tag}}{{$last ? '' : ', '}}</span>
                        </td>
                        <td style='text-align: center'>
                            <a href='' ng-click='deleteQuestionnaire(questionnaire)' class='btn'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>