<div ng-controller='controller.teacher.ManipulateQuestion'>
    <div class='row'>
        <div class='col-md-12'>
            <h2>Modifica domanda</h2>
            <textarea id='editor'></textarea>
            <a href='' class='btn btn-raised btn-primary'>Submit</a>

            <form>
                <div class='form-group'>
                    <div>
                        <label>
                            <input type='radio' name='ris' ng-model='value' value='true'>Vero
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type='radio' name='ris' ng-model='value' value='false'>Falso
                        </label>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
