
<div ng-controller='controller.teacher.SelectQuestion'>
    <div class='row'>
        <div class='col-md-12'>
            <h2>Seleziona domanda</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class='row well text-center'>
                <form ng-submit='submit()'>
                    <div class='col-md-10'>
                        <div class='form-group col-md-4'>
                            <div class='col-md-10 col-md-offset-1'>
                                <input ng-model='bodySearch' type='text' class='form-control' id='titleSearch' placeholder='Filtra per corpo'>
                            </div>
                        </div>
                        <div class='form-group col-md-4'>
                            <div class='col-md-10 col-md-offset-1'>
                                <input ng-model='authorSearch' type='text' class='form-control' id='authorSearch' placeholder='Filtra per autore'>
                            </div>
                        </div>
                        <div class='form-group col-md-4'>
                            <div class='col-md-10 col-md-offset-1'>
                                <input ng-model='tagSearch' type='text' class='form-control' id='tagSearch' placeholder='Filtra per argomenti'>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class='form-group'>
                            <button type='submit' class='btn btn-raised btn-primary'>Cerca</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class='table-responsive'>
                <table class='table table-striped table-hover'>
                    <thead>
                        <tr>
                            <th>Corpo</th>
                            <th><a href='' ng-click='myOrderBy = "author"'>Autore</a></th>
                            <th>Argomenti</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='question in questions| orderBy : myOrderBy' ng-click='addQuestion(question)'>
                            <td style='vertical-align:middle' ng-bind-html='preview(question.body)'></td>
                            <td style='vertical-align:middle'>{{question.author}}</td>
                            <td style='vertical-align:middle'>
                                <span ng-repeat='tag in question.tags track by $index'>{{tag}}{{$last ? '' : ', '}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class='col-md-3 col-md-offset-9'>
                <a href='' ng-click='setOnSelect(false)' class='btn btn-raised btn-danger' >Cancel</a>
            </div>
        </div>
    </div>
</div>



