
<div ng-controller='controller.admin.UsersList'>
    <div class='row'>
        <div class='col-md-12'>
            <h2>Lista utenti</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            Mostra:
            <a href='' ng-click='roleFilter = ["student", "teacher"]'>Tutti</a> |
            <a href='' ng-click='roleFilter = ["student"]'>Studenti</a> |
            <a href='' ng-click='roleFilter = ["teacher"]'>Docenti</a>
            <span ng-show='me.role.name === "superadmin"'> | <a href='' ng-click='roleFilter = ["admin"]'>Amministratori</a> </span>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <table class='table table-striped table-hover'>
                <thead>
                    <tr>
                        <th><a href='' ng-click='myOrderBy = "userName"'>Username</a></th>
                        <th><a href='' ng-click='myOrderBy = "fullName"'>Nome completo</a></th>
                        <th>Ruolo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='user in usersList| orderBy : myOrderBy | filter : filterByRole'>
                        <td style='vertical-align:middle'>{{user.userName}}</td>
                        <td style='vertical-align:middle'>{{user.fullName}}</td>
                        <td style='vertical-align: middle'>
                            <div class='form-group' style='margin: 0; padding: 0;'>
                                <select class='form-control' ng-model='user.role' ng-change='changeUserRole(user)'>
                                    <option ng-repeat='role in roles | filter : filterRoleList()' value='{{role.id}}'>{{role.viewName}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <a href='' ng-click='deleteUser(user)' class='btn'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>