
<div  ng-controller='controller.admin.UsersList'>
    <h2>Lista Utenti</h2>
    {{ usersList }}
    
    
    <table class='table table-striped table-hover'>
        <thead>
            <tr>
                <th>Username</th>
                <th>Nome completo</th>
                <th>Tipo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='user in usersList'>
                <td style='vertical-align:middle'>{{ user.userName }}</td>
                <td style='vertical-align:middle'>{{ user.fullName }}</td>
                <td style='vertical-align: middle'>
                    <div class='form-group' style='margin: 0; padding: 0;'>
                        <select class='form-control' ng-change='changeUserRole(user, "ss")'>
                            <option ng-repeat='role in roles' ng-selected='user.role.href === role.id' value='{{ role.id }}'>{{ role.name }}</option>
                        </select>
                    </div>
                </td>
                <td style='text-align: center'>
                    <a href='' ng-click='deleteUser(user)' class='btn'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
