<!DOCTYPE html>
<html>
<head ng-app="myApp">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap Material Design -->
    <link href="css/bootstrap-material-design.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/material.min.js"></script>

    <!-- AngularJS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script type="text/javascript" src="js/login.js"></script>
</head>
<body>
<div ng-controller='UserCtrl'>
    <div class='container'>
        <div class='col-md-8 col-md-offset-2'>
            <h2>Modifica Profilo</h2>
            <div class='well'>
                <form class='form-horizontal' ng-submit='submit()'>
                    <div class='form-group'>
                        <label for='inputUsername' class='col-md-2 control-label'>Username </label>
                        <div class='col-md-10'>
                            <input ng-model='userName' type='text' class='form-control' id='inputUsername' placeholder='wsandon' required>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='inputFullname' class='col-md-2 control-label'>Fullname</label>
                        <div class='col-md-10'>
                            <input ng-model='fullName' type='text' class='form-control' id='inputFullname' placeholder='Walter Sandon' required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                            <button type="button" class="btn btn-raised btn-default">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
                <h2>Modifica Password</h2>
                <div class='well'>
                    <form class='form-horizontal' ng-submit='submit()'>
                        <div class='form-group'>
                            <label for='inputOldPassword' class='col-md-2 control-label'>Old Password </label>
                            <div class='col-md-10'>
                                <input ng-model='oldPassword' type='password' class='form-control' id='inputOldPassword' placeholder='Inserisci la pasword attuale' required>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='inputNewPassword' class='col-md-2 control-label'>New Password</label>
                            <div class='col-md-10'>
                                <input ng-model='newPwd' type='password' class='form-control' id='inputNewPassword'
                                       placeholder='Inserire la nuova password' required>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='inputRepeatPassword' class='col-md-2 control-label'>Repeat Password</label>
                            <div class='col-md-10'>
                                <input ng-model='repeatPwd' type='password' class='form-control' id='inputRepeatPassword'
                                       placeholder='Ripetere la nuova password' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                                <button type="button" class="btn btn-raised btn-default">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


